<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>URL Cropper - Home</title>
    <style>
      html,
      body {
        height: 100%;
        margin: 0;
      }
      body {
        display: flex;
        flex-direction: column;
        background-color: #f8f9fa;
      }
      .container {
        flex: 1;
      }
      h1 {
        margin-bottom: 20px;
        color: #343a40;
      }
      .table-hover tbody tr:hover {
        background-color: #f1f1f1;
      }
    </style>
  </head>
  <body>
    <div class="container mt-5">
      <header class="mb-4">
        <h1 class="text-center">URL Cropper</h1>
      </header>

      <form action="/shortUrls" method="POST" class="my-4">
        <div class="input-group">
          <input
            required
            placeholder="Enter your URL"
            type="url"
            name="originalUrl"
            id="fullUrl"
            class="form-control"
          />
          <div class="input-group-append">
            <button class="btn btn-success" type="submit">Crop</button>
          </div>
        </div>
      </form>

      <% if (shortUrls.length > 0) { %>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Full URL</th>
            <th>Short URL</th>
            <th>Clicks</th>
          </tr>
        </thead>
        <tbody>
          <% shortUrls.forEach(shortUrl => { %>
          <tr>
            <td>
              <a
                href="<%= shortUrl.originalUrl %>"
                target="_blank"
                rel="noopener noreferrer"
                ><%= shortUrl.originalUrl %></a
              >
            </td>
            <td>
              <a
                href="<%= shortUrl.shortId %>"
                target="_blank"
                rel="noopener noreferrer"
                ><%= shortUrl.shortId %></a
              >
            </td>
            <td><%= shortUrl.clicks %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } else { %>
      <div class="alert alert-info" role="alert">
        No shortened URLs available.
      </div>
      <% } %>
    </div>

    <footer class="mt-4 text-center">
      <p class="text-muted">
        &copy; 2024 URL Cropper. Created by
        <a href="https://www.linkedin.com/in/me-kirtangajjar" target="_blank"
          >Kirtan Gajjar</a
        >. All rights reserved.
      </p>
    </footer>
  </body>
</html>
